body
{
	margin: 0 auto;
	text-align: center;
}

.flag-1
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0 auto;
	width: 1000px;
	height: 50px;
	background-color: #0066cc;
	text-align:  ;
}

.flag-2
{
	margin: 0 auto;
	width: 1000px;
	height: 50px;
	background-color: #ffcc00;	
}

.main-space
{
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	background-color: gray;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}